/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  background-color: rgb(215, 228, 223);
}

.container-fluid {
  padding: 0;
}

.app__container {
  width: 90%;
  border: 1px solid black;
}
